.container {
  display: flex;
  width: 300px;
  height: 40px;
  padding: 15px 0px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 20px;
  background: #5068a9;
}

.text {
  color: #fff;
  font-family: SUIT,sans-serif;
  font-size: 20px;
  user-select: none;
}
