.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10%;
  padding-right: 10%;

  border-bottom: none;
  //transition: border-bottom 0.3s ease;

  &.scrolled {
    border-bottom: 1px solid #DADADA;
  }
}
.linkReset {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo_text {
  font-size: 24px;
  font-family: SUIT,sans-serif;
  margin-left: 8px;
  font-weight: bold;
  color: #5068A9;
}
