.container {
  display: flex;
  .circle{
    border-radius: 50%;
    border: 1px solid #5068A9;
    width: 900px;
    height: 900px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    .main{
      width: 445px;
      height:570px;
      border-radius: 35px;
      box-shadow: 0px 3.564px 3.564px 0 rgb(0, 0, 0, 0.25);
      display: flex;
      //align-items: center;
      flex-direction: column;
      padding-top: 55px;
      h1{
        margin-left: 25%;
        color: #5068A9;
        font-family: SUIT, sans-serif;
        font-size: 60px;
        font-weight: 500;
      }
      .action{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left:15% ;
        margin-bottom: 90px;
        gap: 20px;
      }
      .action_low{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        margin-left:15% ;
        margin-top: 100px;
        height: 100px;
      }
    }
  }
  span{
    font-family: SUIT, sans-serif;
  }
  a{
    display: inline;
    font-family: SUIT,sans-serif;
    text-decoration: none;
    color: #2871FF;
  }

  .circle_1{
    border-radius: 50%;
    border: 1px solid #5068A9;
    width: 460px;
    height: 460px;
    position: absolute;
    top: 60px;
    transform: translate(-50%, -50%);
  }

  .circle_2{
    border-radius: 50%;
    border: 1px solid #5068A9;
    width: 460px;
    height: 460px;
    position: absolute;
    top: 100%;
    left: 96%;
    transform: translate(-50%, -50%);
  }
  .google {
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
}

.googleSection {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.googleSectionText {
  margin-top: 16px;
}

}
