.container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 6em 200px 0em 200px;
  //overflow: hidden;
  .helement{
    display: flex;
    align-items: center;
    margin-bottom: 3em;
    gap: 10px;
    .hright{
      display: flex;
      flex-direction: column;
      gap: 10px;
      overflow: hidden;
      border-radius: 20px 20px 40px 40px;
    }
  }


  span {
    background: transparent;
    color: #000;
    text-decoration: none;
  }

  .newslist{
    gap: 1em;
    display: flex;
    flex-direction: row;
    margin-bottom: 5em;
  }
}
